{% extends 'base.html' %}

{% block extra_css %}
    <style>
        @media (min-width: 1200px) {
            .container, .container-lg, .container-md, .container-sm, .container-xl {
                max-width: 1700px !important;
            }
        }
    </style>
{% endblock %}
{% block main_content %}
    <!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
{#        <div class="row">#}
{#            <div class="col-lg-4">#}
{#                <img class="rounded-circle"#}
{#                     src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="#}
{#                     alt="Generic placeholder image" width="140" height="140">#}
{#                <h2>Heading</h2>#}
{#                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies#}
{#                    vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo#}
{#                    cursus magna.</p>#}
{#                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>#}
{#            </div><!-- /.col-lg-4 -->#}
{#            <div class="col-lg-4">#}
{#                <img class="rounded-circle"#}
{#                     src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="#}
{#                     alt="Generic placeholder image" width="140" height="140">#}
{#                <h2>Heading</h2>#}
{#                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras#}
{#                    mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris#}
{#                    condimentum nibh.</p>#}
{#                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>#}
{#            </div><!-- /.col-lg-4 -->#}
{#            <div class="col-lg-4">#}
{#                <img class="rounded-circle"#}
{#                     src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="#}
{#                     alt="Generic placeholder image" width="140" height="140">#}
{#                <h2>Heading</h2>#}
{#                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula#}
{#                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,#}
{#                    ut fermentum massa justo sit amet risus.</p>#}
{#                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>#}
{#            </div><!-- /.col-lg-4 -->#}
{#        </div><!-- /.row -->#}


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Walk through is over. <span
                        class="text-muted">but there is still more..</span></h2>
                <p class="lead">Please checkout Slick Reporting Documentation at <a href="https://django-slick-reporting.readthedocs.io/en/latest/"> ReadTheDocs </a>.</p>
                <p class="lead">
                    Check us on Github <!-- Place this tag where you want the button to render. -->
<!-- Place this tag where you want the button to render. -->
                    <!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/ra-systems/django-slick-reporting/subscription" data-color-scheme="no-preference: light; light: light; dark: light;" data-icon="octicon-eye" data-show-count="true" aria-label="Watch ra-systems/django-slick-reporting on GitHub">Watch</a>
<a class="github-button" href="https://github.com/ra-systems/django-slick-reporting" data-color-scheme="no-preference: light; light: light; dark: light;" data-icon="octicon-star" data-show-count="true" aria-label="Star ra-systems/django-slick-reporting on GitHub">Star</a>
                    </p>
            </div>
            <div class="col-md-5">
{#                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"#}
{#                     style="width: 500px; height: 500px;"#}
{#                     src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17650ec94ee%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17650ec94ee%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22184.890625%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"#}
{#                     data-holder-rendered="true">#}
            </div>
        </div>

{#        <hr class="featurette-divider">#}
{##}
{#        <div class="row featurette">#}
{#            <div class="col-md-7 order-md-2">#}
{#                <h2 class="featurette-heading">Oh yeah, it's that good. <span#}
{#                        class="text-muted">See for yourself.</span></h2>#}
{#                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis#}
{#                    euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,#}
{#                    tellus ac cursus commodo.</p>#}
{#            </div>#}
{#            <div class="col-md-5 order-md-1">#}
{#                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"#}
{#                     src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17650ec94f0%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17650ec94f0%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22184.890625%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"#}
{#                     data-holder-rendered="true" style="width: 500px; height: 500px;">#}
{#            </div>#}
{#        </div>#}
{##}
{#        <hr class="featurette-divider">#}
{##}
{#        <div class="row featurette">#}
{#            <div class="col-md-7">#}
{#                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>#}
{#                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis#}
{#                    euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,#}
{#                    tellus ac cursus commodo.</p>#}
{#            </div>#}
{#            <div class="col-md-5">#}
{#                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"#}
{#                     src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17650ec94f1%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17650ec94f1%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22184.890625%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"#}
{#                     data-holder-rendered="true" style="width: 500px; height: 500px;">#}
{#            </div>#}
{#        </div>#}
{##}
{#        <hr class="featurette-divider">#}

        <!-- /END THE FEATURETTES -->

    </div>


{% endblock %}