{% extends "two_factor/_base_focus.html" %}
{% load static %}
{% load i18n %}

{% block content %}
{% include "dashboard/sideheader/side.html" %}


<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
	<div class="pcoded-content">
		<!-- [ breadcrumb ] start -->
		<div class="page-header">
			<div class="page-block">
				<div class="row align-items-center">
					<div class="col-md-12">
						<div class="page-header-title">
							<h5 class="m-b-10">Security</h5>
						</div>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
							<li class="breadcrumb-item"><a href="#!">Two Factor Authentication</a></li>
							<li class="breadcrumb-item"><a href="#!">Disable Two Factor Authentication</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		      <!-- [ horizontal-layout ] start -->
			  <div class="col-sm-12">
				<div class="card">
					<div class="card-header">
						
  <h1>{% block title %}{% trans "Disable Two-factor Authentication" %}{% endblock %}</h1>
						<div class="card-header-right">
							<div class="btn-group card-option">
								<button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="feather icon-more-horizontal"></i>
								</button>
								<ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
									<li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a>
									</li>
									<li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
									<li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
									<li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card-body">
									<!-- [ horizontal-layout ] end -->
									<div class="alert alert-danger alert-dismissible fade show" role="alert">
										<strong>{% blocktrans trimmed %}You are about to disable two-factor authentication. This
											weakens your account security, are you sure?{% endblocktrans %}.
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									</div>
  <p></p>
  <form method="post">
    {% csrf_token %}
    <table>{{ form }}</table>
    <button class="btn btn-danger"
            type="submit">{% trans "Disable" %}</button>
  </form>
  </div>
  </div>
					</div>
				</div>
			</div>

{% endblock %}


