{% extends "two_factor/_base_focus.html" %}
{% load static %}
{% load i18n %}

{% block content %}
{% include "dashboard/sideheader/side.html" %}


<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
	<div class="pcoded-content">
		<!-- [ breadcrumb ] start -->
		<div class="page-header">
			<div class="page-block">
				<div class="row align-items-center">
					<div class="col-md-12">
						<div class="page-header-title">
							<h5 class="m-b-10">Security</h5>
						</div>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
							<li class="breadcrumb-item"><a href="#!"></a>Two Factor Authentication</li>
							<li class="breadcrumb-item"><a href="{% url 'two_factor:phone_create' %}"></a>Phone Register</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		      <!-- [ horizontal-layout ] start -->
			  <div class="col-sm-12">
				<div class="card">
					<div class="card-header">
						
  <h1>{% block title %}{% trans "Add Backup Phone" %}{% endblock %}</h1>
						<div class="card-header-right">
							<div class="btn-group card-option">
								<button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="feather icon-more-horizontal"></i>
								</button>
								<ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
									<li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a>
									</li>
									<li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
									<li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
									<li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card-body">
						
  {% if wizard.steps.current == 'setup' %}
  <div class="alert alert-info mb-0" role="alert">
	<p class="mb-0">{% blocktrans trimmed %}You'll be adding a backup phone number to your
		account. This number will be used if your primary method of
		registration is not available.{% endblocktrans %}</p>
</div>
{% elif wizard.steps.current == 'validation' %}
  <p>{% blocktrans trimmed %}We've sent a token to your phone number. Please
	enter the token you've received.{% endblocktrans %}</p>
{% endif %}

<form action="" method="post">{% csrf_token %}
{% include "two_factor/_wizard_forms.html" %}

{# hidden submit button to enable [enter] key #}
<input type="submit" value="" class="d-none" />

{% include "two_factor/_wizard_actions.html" %}
</form>
						
					</div>
				</div>
			</div>
			<!-- [ horizontal-layout ] end -->

  </div>
  </div>
{% endblock %}
