
{% extends "two_factor/_base_focus.html" %}
{% load static %}
{% load i18n %}

{% block content %}
{% include "dashboard/sideheader/side.html" %}


<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
	<div class="pcoded-content">
		<!-- [ breadcrumb ] start -->
		<div class="page-header">
			<div class="page-block">
				<div class="row align-items-center">
					<div class="col-md-12">
						<div class="page-header-title">
							<h5 class="m-b-10">Security</h5>
						</div>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
							<li class="breadcrumb-item"><a href="#!">Two Factor Authentication</a></li>
							<li class="breadcrumb-item"><a href="#!">Setup Two Factor Authentication</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

          <!-- [ horizontal-layout ] start -->
          <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    
  <h1>{% block title %}{% trans "Enable Two-Factor Authentication" %}{% endblock %}</h1>
                    <div class="card-header-right">
                        <div class="btn-group card-option">
                            <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="feather icon-more-horizontal"></i>
                            </button>
                            <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a>
                                </li>
                                <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    
  {% if wizard.steps.current == 'welcome' %}
  
        <div class="alert alert-warning" role="alert">
          <p>{% blocktrans trimmed %}You are about to take your account security to the
            next level. Follow the steps to enable two-factor
            authentication.{% endblocktrans %}</p>
        </div>
  {% elif wizard.steps.current == 'method' %}
  <div class="alert alert-warning" role="alert">
    <p>{% blocktrans trimmed %}Please select which authentication method you would
      like to use.{% endblocktrans %}</p>
  </div>
  {% elif wizard.steps.current == 'generator' %}

        <div class="alert alert-info mb-0" role="alert">
          <p class="mb-0"><p>{% blocktrans trimmed %}To start using a token generator, please use your
            smartphone to scan the QR code below. For example, use Google
            Authenticator. Then, enter the token generated by the app.
            
            {% endblocktrans %}</p></p>
      </div>
    <p><img src="{{ QR_URL }}" alt="QR Code" /></p>
  {% elif wizard.steps.current == 'sms' %}
    <p>{% blocktrans trimmed %}Please enter the phone number you wish to receive the
      text messages on. This number will be validated in the next step.
      {% endblocktrans %}</p>
  {% elif wizard.steps.current == 'call' %}
    <p>{% blocktrans trimmed %}Please enter the phone number you wish to be called on.
      This number will be validated in the next step. {% endblocktrans %}</p>
  {% elif wizard.steps.current == 'validation' %}
    {% if challenge_succeeded %}
      {% if device.method == 'call' %}
        <p>{% blocktrans trimmed %}We are calling your phone right now, please enter the
          digits you hear.{% endblocktrans %}</p>
      {% elif device.method == 'sms' %}
        <p>{% blocktrans trimmed %}We sent you a text message, please enter the tokens we
          sent.{% endblocktrans %}</p>
      {% endif %}
    {% else %}
      <p class="alert alert-warning" role="alert">{% blocktrans trimmed %}We've
        encountered an issue with the selected authentication method. Please
        go back and verify that you entered your information correctly, try
        again, or use a different authentication method instead. If the issue
        persists, contact the site administrator.{% endblocktrans %}</p>
    {% endif %}
  {% elif wizard.steps.current == 'yubikey' %}
    <p>{% blocktrans trimmed %}To identify and verify your YubiKey, please insert a
      token in the field below. Your YubiKey will be linked to your
      account.{% endblocktrans %}</p>
  {% endif %}

  <form action="" method="post">{% csrf_token %}
    {% include "two_factor/_wizard_forms.html" %}

    {# hidden submit button to enable [enter] key #}
    <input type="submit" value="" class="d-none" />

    {% include "two_factor/_wizard_actions.html" %}
  </form>
                    
                </div>
            </div>
        </div>
        <!-- [ horizontal-layout ] end -->

    


  </div>
  </div>
{% endblock %}
