{#% load pipeline %#}
{#% stylesheet 'manager' %#}
{#% javascript 'manager' %#}
{% load static  %}
<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Django Slick Reporting">


    <title>Thari Manager - Reports</title>
    

    <!-- Bootstrap core CSS 
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="{% static 'manager/css/simple-sidebar.css' %}" rel="stylesheet">


    <link rel="stylesheet" type="text/css"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

<!--
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/prismjs@1.22.0/themes/prism.css"/>-->
         <!-- Favicon icon -->
         <link rel="icon" href="{% static 'manager/assets/images/favicon.ico' %}" type="image/x-icon">
         <!-- Google font
         <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    -->
           <!-- Required Fremwork -->
           <link rel="stylesheet" type="text/css" href="{% static 'manager/assets/css/bootstrap/css/bootstrap.min.css' %}">
           
           <!-- waves.css -->
           <link rel="stylesheet" href="{% static 'manager/assets/pages/waves/css/waves.min.css' %}" type="text/css" media="all">
           <!-- themify icon -->
           <link rel="stylesheet" type="text/css" href="{% static 'manager/assets/icon/themify-icons/themify-icons.css' %}">
           <!-- Font Awesome -->
           <link rel="stylesheet" type="text/css" href="{% static 'manager/assets/icon/font-awesome/css/font-awesome.min.css' %}">
           <!-- scrollbar.css -->
           <link rel="stylesheet" type="text/css" href="{% static 'manager/assets/css/jquery.mCustomScrollbar.css' %}">
           <!-- Style.css -->
           <link rel="stylesheet" type="text/css" href="{% static 'manager/assets/css/style.css' %}">
    
    {% block extra_css %}
    {% endblock %}

</head>

<body>
     <!-- Pre-loader start-->
  <div class="theme-loader">
    <div class="loader-track">
        <div class="preloader-wrapper">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
          
            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
          
            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header">
            <div class="navbar-wrapper">
                <div class="navbar-logo">
                    <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                        <i class="ti-menu"></i>
                    </a>
                    <div class="mobile-search waves-effect waves-light">
                        <div class="header-search">
                            <div class="main-search morphsearch-search">
                                <div class="input-group">
                                    <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                                    <input type="text" class="form-control" placeholder="Enter Keyword">
                                    <span class="input-group-addon search-btn"><i class="ti-search"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="index.html">
                        Thari Mutual
                        <!--<img class="img-fluid" src="{#% static 'manager/assets/images/logo.png' %#}" alt="Theme-Logo" />-->
                    </a>
                    <a class="mobile-options waves-effect waves-light">
                        <i class="ti-more"></i>
                    </a>
                </div>
              
                <div class="navbar-container container-fluid">
                    <ul class="nav-left">
                        <li>
                            <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
                        </li>
                        <li class="header-search">
                            <div class="main-search morphsearch-search">
                                <div class="input-group">
                                    <span class="input-group-addon search-close"><i class="ti-close"></i></span>
                                    <input type="text" class="form-control">
                                    <span class="input-group-addon search-btn"><i class="ti-search"></i></span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                                <i class="ti-fullscreen"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav-right">
                        <li class="header-notification">
                            <a href="#!" class="waves-effect waves-light">
                                <i class="ti-bell"></i>
                                <span class="badge bg-c-red"></span>
                            </a>
                            <ul class="show-notification">
                                <li>
                                    <h6>Notifications</h6>
                                    <label class="label label-danger">New</label>
                                </li>
                                <li class="waves-effect waves-light">
                                    <div class="media">
                                        <img class="d-flex align-self-center img-radius" src="{% static 'clients/dashboard/assets/images/user/tharilogo.jpg' %}" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="notification-user">Lumkile Ntetha</h5>
                                            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                            <span class="notification-time">30 minutes ago</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="waves-effect waves-light">
                                    <div class="media">
                                        <img class="d-flex align-self-center img-radius" src="{% static 'clients/dashboard/assets/images/user/tharilogo.jpg' %}" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="notification-user">Tumisang Ngatane</h5>
                                            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                            <span class="notification-time">30 minutes ago</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="waves-effect waves-light">
                                    <div class="media">
                                        <img class="d-flex align-self-center img-radius" src="{% static 'manager/assets/images/user/tharilogo.jpg' %}" alt="Generic placeholder image">
                                        <div class="media-body">
                                            <h5 class="notification-user">Tumelo Mokobocho</h5>
                                            <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                            <span class="notification-time">30 minutes ago</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="user-profile header-notification">
                            <a href="#!" class="waves-effect waves-light">
                                <img src="{% static 'clients/dashboard/assets/images/user/tharilogo.jpg' %}" class="img-radius" alt="User-Profile-Image">
                                <span>The Manager</span>
                                <i class="ti-angle-down"></i>
                            </a>
                            <ul class="show-notification profile-notification">
                                <li class="waves-effect waves-light">
                                    <a href="#!">
                                        <i class="ti-settings"></i> Settings
                                    </a>
                                </li>
                                <li class="waves-effect waves-light">
                                    <a href="user-profile.html">
                                        <i class="ti-user"></i> Profile
                                    </a>
                                </li>
                                <li class="waves-effect waves-light">
                                    <a href="email-inbox.html">
                                        <i class="ti-email"></i> My Messages
                                    </a>
                                </li>
                                <li class="waves-effect waves-light">
                                    <a href="auth-lock-screen.html">
                                        <i class="ti-lock"></i> Lock Screen
                                    </a>
                                </li>
                                <li class="waves-effect waves-light">
                                    <a href="auth-normal-sign-in.html">
                                        <i class="ti-layout-sidebar-left"></i> Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--/End of top Header nav-->

      
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
               <!--Sidebar start-->
                <nav class="pcoded-navbar">
                    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>

                    <div class="pcoded-inner-navbar main-menu">
                        <div class="">
                            <div class="main-menu-header">
                                <img class="img-80 img-radius" src="{% static 'clients/dashboard/assets/images/user/tharilogo.jpg' %}" alt="User-Profile-Image">
                                <div class="user-details">
                                    <span id="more-details">Manager<i class="fa fa-caret-down"></i></span>
                                </div>
                            </div>
      
                            <div class="main-menu-content">
                                <ul>
                                    <li class="more-details">
                                        <a href="user-profile.html"><i class="ti-user"></i>View Profile</a>
                                        <a href="#!"><i class="ti-settings"></i>Settings</a>
                                        <a href="auth-normal-sign-in.html"><i class="ti-layout-sidebar-left"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="p-15 p-b-0">
                            <form class="form-material">
                                <div class="form-group form-primary">
                                    <span class="form-bar"></span>
                                    
                            <div class="sidebar-heading">Analytics Report</div>
                                </div>
                            </form>
                        </div>
                        
                        <ul class="pcoded-item pcoded-left-item">
                            <li class="active">
                                <a href="index.html" class="waves-effect waves-dark">
                                    <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                                    <span class="pcoded-mtext" data-i18n="nav.dash.main">Dashboard</span>
                                    <span class="pcoded-mcaret"></span>
                                </a>
                            </li>
                            <ul class="pcoded-item pcoded-left-item">
                                
                                <li class="list-group-item py-3 ">
                                    <a href="{% url 'group-by-with-several-charts' %}" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                                        <span class="pcoded-mtext" data-i18n="{% url 'group-by-chart' %}">Different Policy Charts</span>
                                        
                                        
                                    </a>
                                </li>
                                <li class="list-group-item py-3">
                                    <a href="{% url 'group-by-chart' %}" class="waves-effect waves-dark"><i class="feather icon-settings m-r-5"></i>
                                        <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                                        <span class="pcoded-mtext" data-i18n="{% url 'group-by-chart' %}">Total Number of Policy</span>
                                        
                                    </a>
                                </li>
                                <li class="list-group-item py-3">
                                    <a href="{% url 'group-by' %}" class="waves-effect waves-dark"><i class="feather icon-settings m-r-5"></i>
                                        <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                                        <span class="pcoded-mtext" data-i18n="{% url 'group-by-chart' %}">Total Sales per Policy</span>
                                        
                                        
                                    </a>
                                </li>
                              
                                <li class="list-group-item py-3">
                                    <a href="{% url 'group-by-date' %}" class="waves-effect waves-dark"><i class="feather icon-settings m-r-5"></i>
                                        <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                                        <span class="pcoded-mtext" data-i18n="{% url 'group-by-chart' %}">Login Analysis</span>
                                        
                                        
                                    </a>
                                </li>
                                <li class="list-group-item py-3">
                                    <a href="{% url 'group-by-chart' %}" class="waves-effect waves-dark"><i class="feather icon-settings m-r-5"></i>
                                        <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                                        <span class="pcoded-mtext" data-i18n="{% url 'time-series' %}">Number of Policy Sold</span>

                                        
                                
                                        
                                    </a>
                                </li>
                                <li class="list-group-item py-3">
                                    <a href="{% url 'time-series-charts' %}" class="waves-effect waves-dark"><i class="feather icon-settings m-r-5"></i>
                                        <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                                        <span class="pcoded-mtext" data-i18n="{% url 'group-by-chart' %}">Policy Per Month</span>
                                        
                                    </a>
                                </li>
                                <li class="list-group-item py-3 ">
                                    <a href="{% url 'group-by-chart' %}" class="waves-effect waves-dark"><i class="feather icon-settings m-r-5"></i>
                                        <span class="pcoded-micon"><i class="ti-layers"></i><b>FC</b></span>
                                        <span class="pcoded-mtext" data-i18n="{% url 'time-series-without-group-by' %}">Total Sales Per Month</span>
                                        
                                        
                                    </a>
                                </li>
                            </ul>
                        
                        </ul>
                </nav>
                <!--/ End of sidebar-->
                
                <div class="pcoded-content">
                    <!-- Page-header start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Dashboard</h5>
                                        <p class="m-b-0">Welcome to Thari Manager Site</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <ul class="breadcrumb-title">
                                        <li class="breadcrumb-item">
                                            <a href="index.html"> <i class="fa fa-home"></i> </a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="#!">Dashboard</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Page-header end -->



    <!-- Page Content -->
    <div id="page-content-wrapper">
        {% block main_content %}
            <div class="container-fluid">

                <hr>
                {% block content %}
                {% endblock %}
            </div>
        {% endblock main_content %}
    </div>

    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

    
{% block js_script %}
{% endblock %}
<script type="text/javascript" src="{% static 'manager/assets/js/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'manager/assets/js/popper.js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'manager/assets/js/bootstrap/js/bootstrap.min.js' %} "></script>
<script type="text/javascript" src="{% static 'manager/assets/pages/widget/excanvas.js' %}"></script>

{#DatePicker #}
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>

<!--<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>-->
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"
        integrity="JnbsSLBmv2/R0fUmF2XYIcAEMPHEAO51Gitn9IjL4l89uFTIgtLF1+jqIqqd9FSk"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="{% static 'manager/assets/js/jquery-slimscroll/jquery.slimscroll.js' %} "></script>
<!-- modernizr js -->
<script type="text/javascript" src="{% static 'manager/assets/js/modernizr/modernizr.js' %}"></script>
<!-- slimscroll js -->
<script type="text/javascript" src="{% static 'manager/assets/js/SmoothScroll.js' %}"></script>
<script src="{% static 'manager/assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'manager/assets/js/pcoded.min.js' %}"></script>
<script src="{% static 'manager/assets/js/vertical-layout.min.js' %} "></script>
<!-- custom js--> 
<script type="text/javascript" src="{% static 'manager/assets/pages/dashboard/custom-dashboard.js' %}"></script>
<script type="text/javascript" src="{% static 'manager/assets/js/script.js' %} "></script>

 
    <!-- waves js >-->
    <!-- jquery slimscroll js 
    <script src="{% static 'manager/assets/pages/waves/js/waves.min.js' %}"></script>
     
    <script type="text/javascript" src="{% static 'manager/assets/js/chart.js/Chart.js' %}"></script>
  -->
 
 
</body>

</html>
