{% extends "../two_factor/_base.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="auth-wrapper">
	<div class="auth-content text-center">
		<img src="{#%static 'clients/dashboard/assets/images/logo.png' %#}" alt="" class="img-fluid mb-4">
		<div class="card borderless">
			<div class="row align-items-center ">
				<div class="col-md-12">
					<div class="card-body">
						
						{% include "dashboard/include/message.html" %}
    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>
</div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
