{% extends "../two_factor/_base.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
<div class="auth-wrapper">
	<div class="auth-content text-center">
		<img src="{#%static 'clients/dashboard/assets/images/logo.png' %#}" alt="" class="img-fluid mb-4">
		<div class="card borderless">
			<div class="row align-items-center ">
				<div class="col-md-12">
					<div class="card-body">
						
						{% include "dashboard/include/message.html" %}
<h1>{% trans "Sign Up Closed" %}</h1>

<p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
/div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
